html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

h1 {
    text-align: center;
}

li {
    font-size: 1.6rem;
    margin-bottom: 1px;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.header {
    left: 0;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

  #rules {
    text-align: center;
    font-size: 14px;
    top: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

ul {
    position: relative;
    padding-left: 0px;
}

#app,
#app .error-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#app .app-container {
    line-height: 0;
    position: relative;
    text-align: center;
    
}

#app .error-wrapper {
    position: fixed;
    top: 0;
    left: 0;
}

#app .heading, #app .message {
    left: 0;
    width: 100vw;
    text-align: center;
    line-height: initial;
}

#app .heading {
    color: darkblue;
    bottom: 3px;
}

#app .message {
    padding-bottom: 80px;
    top: 20px;
    font-size: 1.9rem;
    color: #037d28;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#app .error {
    max-width: 60rem;
    font-family: monospace;
    line-height: initial;
}

#app .error .title,
#app .error .body {
    display: block;
    padding: 1.2rem 1.5rem;
}

#app .error .title {
    background: #D23232;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

#app .error .body {
    background: #FFD9D9;
    line-height: 2.2rem;
}
